/* .upload-btn-wrapper label {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.upload-btn-wrapper #file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
} */
.rating-group {
  display: inline-flex;
}

/* make hover effect work properly in IE */
.rating-group > .rating__icon {
  pointer-events: none;
}

/* hide radio inputs */
.rating-group > .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating-group > .rating__input--none {
  display: none;
}

/* set icon padding and size */
.rating-group > .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 0.875rem;
}
.rating-group > .rating__label > .rating__icon--star {
  color: #ddd;
}
.rating-group > .rating__input.fill_star_hover + .rating__label>.rating__icon--star,
.rating-group > .rating__input.fill_star_click + .rating__label>.rating__icon--star {
  color: orange;
}
.rating-group-wrapper label{
    margin-bottom: 0px;
}
/* .rating-group-wrapper > .rating-item:not(:last-child){
    margin-bottom: 16px;
} */
.sinlgle-review-items-wrapper .media img {
  max-width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: center;
}
.review-listing-wrapper {
  margin: 40px 0px;
}
.hide{
  display: none !important;
}
.sinlgle-review-items-wrapper .media-title a:not(:hover){
  color: #a9a9a9;
}
.review-listing-wrapper .rating-group {
  pointer-events: none;
  cursor: default;
}
.ersrvr-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 80px;
    padding-bottom: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4);
}