/* .upload-btn-wrapper label {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.upload-btn-wrapper #file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
} */
.rating-group {
  display: inline-flex;
}

/* make hover effect work properly in IE */
.rating-group > .rating__icon {
  pointer-events: none;
}

/* hide radio inputs */
.rating-group > .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating-group > .rating__input--none {
  display: none;
}

/* set icon padding and size */
.rating-group > .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 0.875rem;
}
.rating-group > .rating__label > .rating__icon--star {
  color: #ddd;
}
.rating-group > .rating__input.fill_star_hover + .rating__label>.rating__icon--star,
.rating-group > .rating__input.fill_star_click + .rating__label>.rating__icon--star {
  color: orange;
}
.rating-group-wrapper label{
    margin-bottom: 0px;
}
/* .rating-group-wrapper > .rating-item:not(:last-child){
    margin-bottom: 16px;
} */
.sinlgle-review-items-wrapper .media img {
  max-width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: center;
}
.review-listing-wrapper {
  margin: 40px 0px;
}
.hide{
  display: none !important;
}
.sinlgle-review-items-wrapper .media-title a:not(:hover){
  color: #a9a9a9;
}
.review-listing-wrapper .rating-group {
  pointer-events: none;
  cursor: default;
}
.ersrvr-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 80px;
    padding-bottom: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4);
}
.ship-reviews .gallery-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
      "First Second third"
      "four fifth six-see-all";
}

.gallery-images>.ersrvr-gallery-image-item {
  position: relative;
}

.ship-reviews .gallery-images>.ersrvr-gallery-image-item .delete-link {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #fff;
  border-radius: 100%;
  opacity: 0;
  transition: 0.2s ease-in-out;
  z-index: 10;
}

.ship-reviews .gallery-images>.ersrvr-gallery-image-item:hover .delete-link {
  top: 10px;
  right: 10px;
  opacity: 1;
}

.ship-reviews .gallery-images>.ersrvr-gallery-image-item img {
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: center;
  /* border-radius: 8px; */
}

.ship-reviews .gallery-images>.ersrvr-gallery-image-item:nth-child(1) {
  grid-area: First;
}

.ship-reviews .gallery-images>.ersrvr-gallery-image-item:nth-child(2) {
  grid-area: Second;
}

.ship-reviews .gallery-images>.ersrvr-gallery-image-item:nth-child(3) {
  grid-area: third;
}

.ship-reviews .gallery-images>.ersrvr-gallery-image-item:nth-child(4) {
  grid-area: four;
}

.ship-reviews .gallery-images>.ersrvr-gallery-image-item:nth-child(5) {
  grid-area: fifth;
}

.ship-reviews .gallery-images>.ersrvr-gallery-image-item:nth-child(6) {
  grid-area: six-see-all;
}
@media(max-width:991px) {
  .ship-reviews .gallery-images {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
          "First Second"
          "third four"
          "fifth six-see-all";
  }

  @media all and (-ms-high-contrast:none) {
    .ship-reviews .gallery-images {
          -ms-grid-columns: repeat(2, 1fr);
          -ms-grid-rows: repeat(3, 1fr);
      }
  }

  .ship-reviews .gallery-images>.ersrvr-gallery-image-item .delete-link {
      top: 5px;
      right: 5px;
      opacity: 1;
  }
}