/* .upload-btn-wrapper label {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.upload-btn-wrapper #file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
} */
.rating-group {
  display: inline-flex;
}

/* make hover effect work properly in IE */
.rating-group > .rating__icon {
  pointer-events: none;
}

/* hide radio inputs */
.rating-group > .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating-group > .rating__input--none {
  display: none;
}

/* set icon padding and size */
.rating-group > .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 0.875rem;
}

/* set default star color */
.rating-group > .rating__label > .rating__icon--star {
  color: orange;
}

/* if any input is checked, make its following siblings grey */
.rating-group > .rating__input:checked ~ .rating__label > .rating__icon--star {
  color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group > .rating-group:hover > .rating__label>.rating__icon--star {
  color: orange;
}

/* make hovered input's following siblings grey on hover */
.rating-group > .rating__input:hover ~ .rating__label>.rating__icon--star {
  color: #ddd;
}
.rating-group-wrapper label{
    margin-bottom: 0px;
}
.rating-group-wrapper > .rating-item:not(:last-child){
    margin-bottom: 16px;
}
.sinlgle-review-items-wrapper .media img {
  max-width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: center;
}
.review-listing-wrapper {
  margin-top: 40px;
}