.review-form-wrapper .form-row {
    margin-bottom: 16px;
}
.rating-group-wrapper > .rating-item:not(:last-child) {
    margin-bottom: 0px !important;
}
.upload-btn-wrapper .cus-btn label.btn {
    padding:3px 4px;
    font-size: 15px;
}
.upload-btn-wrapper .cus-btn label.btn span{
    font-size: 14px;
}
.review-form-wrapper .form-row input,
.review-form-wrapper .form-row textarea{
    font-size: 14px;
    padding: 0.5rem 1rem;
}