.gallery-images img {
    max-width: 100%;
    height: auto;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "First Second third"
        "four fifth six-see-all";
}
.gallery-images>.ersrvr-gallery-image-item{
    position: relative;
}
.gallery-images>.ersrvr-gallery-image-item .delete-link {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #fff;
    border-radius: 100%;
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.gallery-images>.ersrvr-gallery-image-item:hover .delete-link {
    top: 10px;
    right: 10px;
    opacity: 1;
}
.gallery-images>.ersrvr-gallery-image-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 8px; */
}

.gallery-images>.ersrvr-gallery-image-item:nth-child(1) {
    grid-area: First;
}

.gallery-images>.ersrvr-gallery-image-item:nth-child(2) {
    grid-area: Second;
}

.gallery-images>.ersrvr-gallery-image-item:nth-child(3) {
    grid-area: third;
}

.gallery-images>.ersrvr-gallery-image-item:nth-child(4) {
    grid-area: four;
}

.gallery-images>.ersrvr-gallery-image-item:nth-child(5) {
    grid-area: fifth;
}

.gallery-images>.ersrvr-gallery-image-item:nth-child(6) {
    grid-area: six-see-all;
}

@media all and (-ms-high-contrast:none) {
    .gallery-images {
        display: -ms-grid;
        -ms-grid-columns: repeat(3, 1fr);
        -ms-grid-rows: repeat(2, 1fr);
    }

    .gallery-images>.ersrvr-gallery-image-item:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .gallery-images>.ersrvr-gallery-image-item:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .gallery-images>.ersrvr-gallery-image-item:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
    }

    .gallery-images>.ersrvr-gallery-image-item:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .gallery-images>.ersrvr-gallery-image-item:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .gallery-images>.ersrvr-gallery-image-item:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
    }
}

/* media query */
@media(max-width:991px){
    .gallery-images{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "First Second"
        "third four"
        "fifth six-see-all";
    }
    @media all and (-ms-high-contrast:none) {
        .gallery-images {
            -ms-grid-columns: repeat(2, 1fr);
            -ms-grid-rows: repeat(3, 1fr);
        }
    }
    .gallery-images>.ersrvr-gallery-image-item .delete-link {
        top: 10px;
        right: 10px;
        opacity: 1;
    }
}